body {
  font-family: 'Montserrat', sans-serif;
}

.okgray {
  color: #C8C8C8;
}

.oksubtitle {
  font-size: 1.125rem;
}

.okfontsmall {
  font-size: 12px;
}

.navbar {
  background: #ED1C24;
}

.btn {
  background: #ED1C24;
  border: #ED1C24;
}

.btn:hover {
  background: #ED1C24;
  border: #ED1C24;
}

footer {
  height: 100px;
  background: #ED1C24;
}