body {
  font-family: "Montserrat", sans-serif;
}

.okgray {
  color: #c8c8c8;
}

.oksubtitle {
  font-size: 1.125rem;
}

.okfontsmall {
  font-size: 12px;
}

.navbar {
  background: #ed1c24;
}

.jumbotron {
  padding: 0;
  background: #f9fafb;
}

.error {
  border: 1px solid #ed1c24;
}

.btn {
  background: #ed1c24;
  border: #ed1c24;
}

.btn:hover {
  background: #ed1c24;
  border: #ed1c24;
}

.btn:focus {
  background: #ed1c24;
  border: #ed1c24;
  box-shadow: none;
}

.btn:active {
  background: #ed1c24 !important;
  border: #ed1c24 !important;
}

footer {
  height: 100px;
  background: #ed1c24;
}

.swal2-styled.swal2-confirm {
  background: #ed1c24 !important;
}

.swal2-styled:focus {
  box-shadow: 0 0 black !important;
}